body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
