:root {
  /* General */
  --font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --font-size: 16px;

  /* Brand colours */
  --brand-alpha: #2dc98a;
  --brand-bravo: #101921;

  /* Neutrals */
  --neutral-alpha: #e8eff3;
  --neutral-bravo: #4a697c;
  --neutral-charlie: #dadada;
  --neutral-delta: #cacaca;
  --neutral-echo: #bababa;
  --neutral-foxtrot: #aaaaaa;

  /* Dark */
  --dark-alpha: #101921;

  /* Message colors */
  --error: red;
  --warning: orange;
  --success: green;

  /* Spacing */
  --spacing: 1rem;

  /* Text */
  --heading-colour: #101921;
  --text-colour: #101921;
  --text-muted-colour: #4a697c;
  --text-light-colour: #fff;
  --text-dark-colour: #101921;

  /* Container */
  --container-width: 1170px;

  /* Brands */
  --twitter: #000;
  --facebook: #1877f2;
  --linkedin: #0a66c2;
}
